<div class="container">
  <div *ngFor="let elem of cards" [id]="elem">
    <div class="card">
      <h2>Blueberry Flavour</h2>
      <p>
        This fresh, smooth and creamy blueberry ice cream is the perfect way to
        enjoy those fresh blueberries this season. Not only is it delicious but
        it is pretty!
      </p>
      <a
        href="https://www.yourhomebasedmom.com/fresh-blueberry-ice-cream/#wprm-recipe-container-52862"
        target="_blank"
      >
        <button>Recipe here</button>
      </a>
    </div>
  </div>
</div>
