
.card{
    color:#413F54;
    border: solid #413F54;
    border-radius: 20p;
    width:30em;
    height:auto;
    text-align: center;
    margin: 10px 10px;
    padding: 5px 5px;
    
}

.container{
  display: flex;
  color: whitesmoke;
  width:99.65vw;
  height:53.95vh;
  margin: 0px 0px;
  border: 0.2em solid #30292F;  
  border-top:0px;
 justify-content:space-around;
 flex-wrap: wrap;

}

button{
  background-color: #30292F;
  color: whitesmoke;
  border:none;
  border-radius: 5px;
  min-height: 30px;
  min-width: 90px;
  font-size:large;
  padding: 5px 10px;
}

button:hover{
  background-color: #413F54;
}

.bg-image{
 opacity: 0.2;
 
}